YahtzeeGame/.vs/YahtzeeGame/v17/DocumentLayout.backup.json
YahtzeeGame/.vs/YahtzeeGame/FileContentIndex/3429cc11-28ea-48ac-99d3-ef08e78f5cb0.vsidx
YahtzeeGame/.vs/YahtzeeGame/FileContentIndex/3429cc11-28ea-48ac-99d3-ef08e78f5cb0.vsidx
YahtzeeGame/.vs/YahtzeeGame/v17/DocumentLayout.json
